h1 {
  color: rgb(255, 204, 1);
}
h2 {
  color: rgb(29, 31, 32);
  text-transform: capitalize;
}
h3 {
  color: rgb(29, 31, 32);
}

p {
  color: rgb(29, 31, 32);
}

.divButton {
  button {
    font-size: 100%;
    color: rgb(29, 31, 32);
    font-weight: 600%;
  }
}
